
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white noprint" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                @*<img src="~/content/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">*@
                <h2>JS-Technocell</h2>
            </a>
            <div class=" ml-auto ">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main" style="color: black;">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/">
                            <i class="ni ni-shop text-primary"></i>
                            <span class="nav-link-text">inicio</span>
                        </a>
                    </li>
                </ul>
                @if (User.IsInRole("AD-ROOT") || User.IsInRole("AU-CAJA"))
                {


<hr class="my-3"><h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Ventas</span>
                        <span class="docs-mini">D</span>
                    </h6><ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="~/clientes">
                                <i class="ni ni-single-02 text-gray-dark"></i>
                                <span class="nav-link-text">Clientes</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Caja">
                                <i class="ni ni-cart text-cyan"></i>
                                <span class="nav-link-text">Caja</span>
                            </a>
                        </li>
                        @if (User.IsInRole("AD-ROOT")) 
                        { 
                         <li class="nav-item">
                             <a class="nav-link" href="~/Caja/ReporteVentas">
                                 <i class="ni ni-bullet-list-67 text-danger"></i>
                                 <span class="nav-link-text">Reporte de ventas</span>
                             </a>
                         </li>
                        }
                    </ul>
                }
                <!-- Divider -->
                @if (User.IsInRole("AD-ROOT") || User.IsInRole("AD-ALMACEN") || User.IsInRole("AU-ALMACEN"))
                {
                    <hr class="my-3">
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Inventario</span>
                        <span class="docs-mini">D</span>
                    </h6>
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="~/categories">
                                <i class="ni ni-bullet-list-67 text-gray"></i>
                                <span class="nav-link-text">Categorias</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Productos">
                                <i class="ni ni-box-2 text-warning"></i>
                                <span class="nav-link-text">Productos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/suplidores">
                                <i class="ni ni-delivery-fast text-black"></i>
                                <span class="nav-link-text">suplidores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Requisiciones">
                                <i class="ni ni-books text-red"></i>
                                <span class="nav-link-text">Compras</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Inventario">
                                <i class="ni ni-book-bookmark text-purple"></i>
                                <span class="nav-link-text">Inventario</span>
                            </a>
                        </li>
                    </ul>
                }
                <!-- Divider -->
                @if (User.IsInRole("AD-ROOT"))
                {
                    <hr class="my-3">
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Administrativo</span>
                        <span class="docs-mini">D</span>
                    </h6>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Caja/list">
                                <i class="ni ni-cart text-blue"></i>
                                <span class="nav-link-text">Cajas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/CxC">
                                <i class="ni ni-satisfied text-yellow"></i>
                                <span class="nav-link-text">Cuentas por cobrar</span>
                            </a>
                        </li>
                    </ul>
                }
                <!-- Divider -->
                @if (User.IsInRole("AD-ROOT"))
                {
                    <hr class="my-3">
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Seguridad</span>
                        <span class="docs-mini">D</span>
                    </h6>
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="~/USers">
                                <i class="ni ni-satisfied text-yellow"></i>
                                <span class="nav-link-text">Roles & Usuarios</span>
                            </a>
                        </li>
                    </ul>
                }
                <!-- Heading -->
            </div>
        </div>
    </div>
</nav>
