
@{
    ViewBag.Title = "Reporte de Ventas";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewBag.Title</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <center>
            <h3 class="pt-5">Parametros de fechas</h3>
        </center>
        <hr />
        <div class="card-body">
            <form method="post" action="~/caja/ReporteVentas">
                <div class="form-group">
                    <label>Desde</label>
                    <input id="desde" name="desde" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label>Hasta</label>
                    <input id="hasta" name="hasta" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">GENERAR</button>
                </div>
            </form>
        </div>
    </div>

</div>

